extends layout

block content
  header
    h1.title Openbadges 2.0 Validator
    h2.subtitle <a href="https://openbadgesvalidator.imsglobal.org/">go here</a> if you are looking for the official validator
  section.bakery
    .bake
      h3 Bake a badge
      p.hint Paste Badge Assertion JSON to bake an image
      textarea(id="inputAssertion" class="inputAssertion" name="inputAssertion", cols="30", rows="10")
      button(id="btnBake" class="btn btn--primary") Bake badge
      .bake__result
    .unbake
      h3 Unbake a badge
      p.hint Drag and drop an open badge image to extract its contents 
      .unbake__dropzone.dropzone
        p Drop a badge image here to extract its contents
      .unbake__result
  