@font-face {
    font-family: 'unb_problack';
    src: url('unb_pro_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'unb_proregular';
    src: url('unb_pro_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}