body
{
  background-color: #DEE5ED;
  color: #2F404D;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.unbake__dropzone
{
  border: 2px dashed #2F404D; 
  background-color: white;
  text-align: center;
}